@page "/"

<PageTitle>Home</PageTitle>

<h1>Expense Management</h1>

Estado de la conexion actual
<br />
<p>Conectando con el servidor</p>
<p>Conectando con la tabla de usuarios</p>
<p>Conectando con la tabla de movimientos</p>
