@page "/users"
@using ExpenseManagement.Shared
@rendermode InteractiveServer
@inject HttpClient Http

<PageTitle>Users</PageTitle>

<h1>Usuarios</h1>

<p>Tabla general de usuarios</p>

<table class="table">
<thead> 
    <tr>
            <th>Nombre</th>
            <th>Email</th>
    </tr>
</thead>
<tbody>
    <tr>
            <td>Carlos Gimenez</td>
            <td>carlos.gimene@example.com</td>
    </tr>
</tbody>
</table>

<br />

<label>Nombre</label>
<input type="text" @bind-value=user.Name/>
<label>Email</label>
<input type="text" @bind-value=user.Email />

<br />
<br />

<button class="btn btn-primary" @onclick=NewUser>Crear usuario</button>

<br/>

<label class="badge bg-success">@Response</label>

@code {
    string Response = "";
    User user = new User();

    async Task NewUser()
    {
        var response = await Http.PostAsJsonAsync("api/User/NewUser", user);
        Response = await response.Content.ReadAsStringAsync();
    }
}
