@page "/users"
@using ExpenseManagement.Shared
@rendermode InteractiveServer
@inject HttpClient Http

<PageTitle>Users</PageTitle>

<h1>Usuarios</h1>

<p>Tabla general de usuarios</p>

<table class="table">
<thead> 
    <tr>
       <th>Nombre</th>
       <th>Email</th>
    </tr>
</thead>
<tbody>
    @foreach(var i in UsersList)
    {
         <tr>
            <td>@i.Name</td>
            <td>@i.Email</td>
        </tr>
    }
</tbody>
</table>

<br />

<label>Nombre</label>
<input type="text" @bind-value=user.Name/>
<label>Email</label>
<input type="text" @bind-value=user.Email />

<br />
<br />

<button class="btn btn-primary" @onclick=NewUser>Crear usuario</button>

<br/>

<label class="badge bg-success">@Response</label>

@code {
    string Response = "";
    User user = new User();
    public static List<User> UsersList = new List<User>();

    async Task NewUser()
    {
        var response = await Http.PostAsJsonAsync("api/User/NewUser", user);
        Response = await response.Content.ReadAsStringAsync();
     
        await Update();
    }

    protected override async Task OnInitializedAsync()
    {
        await Update();
    }

    async Task Update()
    {
        var users = await Http.GetFromJsonAsync<List<User>>("api/User/GetUsers");
        UsersList = users;
    }
}
